<div class="row center-xs">
  <div class="col-xs-12 col-sm-6 col-lg-3">
         <mat-card>
            <mat-card-title>Register</mat-card-title>
            <mat-divider></mat-divider>
            <br/>
              <mat-card-content>
                 <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                <mat-form-field>
                  <input formControlName="email" matInput placeholder="Enter your email" [type]="hideEmail ? 'password' : 'text'" >
                  <mat-icon matSuffix (click)="hideEmail = !hideEmail">{{hideEmail ? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field>
                <br/>
                <mat-form-field>
                  <input formControlName="password" matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" >
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field>
                <br/>
                <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Register</button>
              </form>
              </mat-card-content>
          </mat-card>   
  </div>
</div>